<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/homepage">Music Recommendation</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/homepage">Home <span class="sr-only">(current)</span></a></li>
        <li class="playlists">
          <a href="/playlists" >Your Playlists</a>
        </li>
        <li><a href="/logout">Log out</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="post" action="/search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find Your Melody", name = "query">
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
