
<html>
<head>
  <title>Your Playlists</title>
  <% include ../partials/header %>
</head>
<body style="background: black url(http://bj.clubzone.cn/tmp/Fatboy+Slim+00620211.jpg) no-repeat fixed center center;">
  <% include ../partials/navbar %>
  <div class="row">
      <div class="jumbotron" style="padding:30px; opacity: 0.9; margin:60px 100px auto 100px; overflow: scroll;">
        <h3>Songs in Playlist<h3>
        <div class="row">
          <table class="table table-hover table-striped" style = "magin: 0px 100px 10px 100px; text-align: center;">
              <tbody>
                <% list.forEach(function(l) { %>
                    <tr>
                      <td><%= l.track_name %></td>
                      <td><a href=/removetrack/<%= l.track_id %>>Remove Track</a></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
        </div>
      </div>
  </div>
</body>
