{% extends "base.html" %}
<!-- hello.html -->
{% block title %}Welcome | Has it Been Made Yet?{% endblock %}

{% block body %}
<div class="row splash-page">
  <div class="medium-9 medium-centered columns">
    <div class="panel">
      <h1>W4118 Project 1</h1>
        <h3>Xiaochen Wei & Xuejun Wang</h3>
      <h4>A Personal Music Recommender System For You</h4>
        <div class="medium-9 medium-centered columns">
      <a class="medium-4 button" href="/login">Sign Up</a>
        <a class="medium-4 button" href="/login">Log In</a>
    </div>
    </div>
  </div>

</div>
{% endblock %}